/*Resource for night sky: https://www.script-tutorials.com/night-sky-with-twinkling-stars/ */
/* start star background */
.stars, .twinkling, .clouds {
    
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }

  
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
  
  .stars {
    background:#000 url(images/stars.png) repeat top center;
    z-index:0;
  }
  
  .twinkling{
    background:transparent url(images/twinkling.png) repeat top center;
    z-index:1;
  
    -moz-animation:move-twink-back 500s linear infinite;
    -ms-animation:move-twink-back 500s linear infinite;
    -o-animation:move-twink-back 500s linear infinite;
    -webkit-animation:move-twink-back 500s linear infinite;
    animation:move-twink-back 500s linear infinite;
  }
/* cloud code for traversing across the screen */
  /* @keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.clouds{
    background:transparent url(images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
     */

  /* end star background */
/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
html{
   font-size: 10px; 
   font-family: 'granville', serif;
    color: #eee;

font-style: normal;
   color: #eee;
}
span{
    font-family: 'granville', serif;
}
body{
    width: 100%;
    height: 100%;
    background: url("images/curls/curlsbrightenough.png") no-repeat center fixed;
    background-repeat: repeat;
}
h1{
    opacity: 1;
}

section{
    padding: 6rem;

}
a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8em;
    font-weight: 300;

}
img{
    width: 100%;
}
  


  
/*End global*/

/*Start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.sectionheading{
    text-align: center;
    margin-bottom: 10rem;
}

.sectionheading h1{
    font-size: 3.5rem;
    color: rgba(255,255,255,.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;

}

.sectionheading h1::before,
.sectionheading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}

.sectionheading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.sectionheading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.sectionheading h6{
    font-size: 1.6rem;
    font-weight: 300;
 
}
.hasmarginright{
    margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;

}

.topnav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 50;
    background-color: #111116;
    border-left: 0.35rem solid  #627aff;
    
    
    transition: transform 650ms cubic-bezier(1, 0, 0, 1);

}
.topnav.open{
    transform: translate3d(-100%,0,0);
    border-radius: initial;

}
 .projectnav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 50;
    background-color: #111116;
    border-right: 0.35rem solid #a5fde7;
    
    transition: transform 650ms cubic-bezier(1, 0, 0, 1);

}
.projectnav.open{
    transform: translate3d(100%,0,0);
    /* left: 0; */
    border-radius: initial;
}


.navlist{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


li{
    margin: 0.2rem;

}

.navlink{
    font-family: granville, sans-serif;
    font-size: 5rem;
    padding: 1rem;

}

.navlink:hover,
.navlink:focus{
    background: linear-gradient(to top, #6fffb7, #ffffff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectContainer {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 35rem;
    height: 25rem;
    cursor: pointer;
    
  }
  
  .projectContainer img {
  transition: 0.3s;
  }
  
  .projectContainer:hover img {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
  }
  
  .projectContainer h2 {
      font-size: 2.5rem;
      padding-top: 5%;
      text-align: center;
  }
  .projectContainer h3 {
    font-size: 2.5rem;
  
    text-align: center;
}
  .projectContainer h3{
    background: -webkit-linear-gradient(right, #ff8ca5, #627aff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectContainer h3:hover {
    background: -webkit-linear-gradient(right, #6fffb7, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  .projInfoContainer {
    position: absolute;
    background: rgba(5,5,5,0.8);
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
    
  }
  
  .projectContainer:hover .projInfoContainer {
    opacity: 1;
  }
  
  /* .projCategory {
    
  }
   */
  .projSpecifics {  
      font-size: 1.5rem;
      text-align: center;
      margin-right: 2rem;
      margin-left: 2rem;
     
  }

  .projInstructions{
    
      margin-left: 2rem;
      font-size: 1.5rem;
  }


.menutoggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}


.menutoggler #navtool {

        position: absolute;
        right: 60%;
        margin-right: 10px;
        padding: .55rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        white-space: nowrap;
        color: #000;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
          0 5px 15px rgba(0, 0, 0, 0.07);
         
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
       
}
.menutoggler2{
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}


.projecticon svg *{
  
    fill: url(#rg);
    
    background: -webkit-linear-gradient(right, #ff8ca5, #627aff);
    

}
.navicon svg *{
    fill: url(#rg);
  
    

}
.navicon:hover svg *{
    fill: url(#rg2);
    background: -webkit-linear-gradient(right, #fff0d9, #a5fde7);
   
 
}



.projecticon:hover svg *{
    fill: url(#rg2);
    background: -webkit-linear-gradient(right, #fff0d9, #a5fde7);
   
 
}

.menutoggler2 #routetool{
    position: absolute;
   
        left: 60%;
        margin-left: 10px;
        
        padding: .55rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        white-space: nowrap;
        color: rgb(0, 0, 0);
        border-radius: 50px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
          0 5px 15px rgba(0, 0, 0, 0.07);
          -webkit-text-fill-color:black ;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
}


.menutoggler:hover #navtool{
        right: 100%;
        opacity: 0.9;
}
.menutoggler2:hover #routetool{
    left: 100%;
    opacity: 0.9;
}



.menutoggler.open{
    /* transform: rotate(-45deg); */
}

.menutoggler.open #navtool{
    opacity: 0;
}
.menutoggler2.open #routetool{
    opacity: 0;  
}



.landingtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    
    z-index: 1;
}

.landingtext h1{
    font-size: 17rem;
    font-family: 'coquette', sans-serif;
    font-weight: 600;
    background: linear-gradient(to top,#fff0d9,#a5fde7, #5ed8b9, #a5fde7, #a5fde7, #fff0d9);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landingtext h6{
    font-size: 2rem;
    font-weight: 300;
}
/*End header*/

/*Start about*/

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutheading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
    
}

.aboutheading h1{
    font-size: 10rem;
    opacity: 0.3;
}

.aboutheading h6{
    margin-top: 5.5rem;
    font-size: 2rem;
    font-weight: 300;
    opacity: .6;
}

.profileimg{
    flex: 1;
    margin-right: 5rem;


}

.aboutdetails{
    flex: 1;
}

.socialmedia{
    display:flex;
    margin-top: 5rem;
    clear:right;
}


.fa-github-square{
    
   font-size: 5rem;
   
}
.fa-linkedin{
    font-size: 5rem;
}
.fa-instagram-square:hover{
   
    color: #4b38f3;
   
}
.fa-github-square:hover{
    
    color: #f1c13b;
   
}

.fa-linkedin:hover{
    
    color: #ea4c89;
}
/*End about*/

/*Start services*/
.myskills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding: 2rem;

}

.skill h1{
    
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.iconcontainer{
    width: 10rem;
    height: 10rem;
    border: 3px solid #21cac2;
    background-color: #fff9fd;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    transform: rotate(45deg);

}

.iconcontainer svg{
    color: #2ad3c5;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);

}


/*End services*/

/*Start portfolio*/

.portfolioitem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolioitem:last-child{
    margin-bottom: 0;
}

.portfolioimg{
    flex: 1;
}

.portfoliodescription {
    flex: 1;
}
.portfoliodescription h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfoliodescription h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.6;
}
.portfoliodescription .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #856afc;
    transition: color 650ms;
}
.portfoliodescription .cta:hover{
    color: #ec4f99;
}

.portfolioimg {
    flex: 1;
}
/*End services*/

/*Start timeline*/
.timeline ul{
    border-left: 4px solid #627aff;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
   
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .4;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;


}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border:none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #5dfab9;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}
/*End timeline*/

/*Start contact*/
.contact{
    background-color: #111116;
}

form{
    width: 70%;
    margin: 0 auto;

}
form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    opacity: .9;
    outline-color: #8cffd3;
}

input[type="submit"]{
    width: initial;
    background-color: #627aff;
    color: #eee;
    padding:1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;

}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: #e42e4c;
}

button{
    width: initial;
    background-color: #627aff;
    color: #eee;
    padding:1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;

}

button:hover{
    color: #221e3f;
    background-color: #e42e4c;
}



/*End contact*/

/*Start footer*/

.copyright{
    width: 100%;
    text-align: center;
    background-color: #111116;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up svg{
    color: #16162d;
    font-size: 2rem;
    margin: auto;

}

.copyright p{
    font-size: 1.4rem;

}

/*End footer*/

/*Start animations*/
/* @keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(87, 253, 225, 0.99);
    }
    70%{
        box-shadow: 0 0 0 0 rgba(90, 255, 247, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(87, 253, 225, 0.99);
    }
} */
/*End animations*/

/*Start media queries*/


@media screen and (max-width: 1200px){
    .navlink{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 900px){
    .navlink{
        font-size: 3.2rem;
    }
    .projectContainer.open .projInfoContainer{
        
        opacity: 1;
    }
    .projectContainer.open img{
        transform: scale(1.1);
   -webkit-transform: scale(1.1);
        
    }
    .container{max-width: 100%;}


}
@media screen and (max-width: 768px){
  
    .landingtext h1{
        font-size: 15rem;
    }
    .landingtext h6{
        font-size: 1.7rem;
    }
    .menutoggler:hover #navtool{
        right: 100%;
        opacity: 0;
}
    .menutoggler2:hover #routetool{
    left: 100%;
    opacity: 0;
}

    .navlist{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
    }
    .nav-link{
        font-size: 4.5rem;
    }

    .aboutheading h1{
        font-size: 8rem;
    }

    .sectionheading h1{
        font-size: 3rem;
    }
    .aboutdetails .navlist{
        flex-direction: initial;
    }
    .aboutdetails li{
        margin: 0 2remm;
    }
    .iconcontainer {
        flex-direction: column;
        text-align: center;
        width: 8rem;
        height: 8rem;
    }
    .iconcontainer i{
        font-size: 4rem;
        text-align: center;
       
    }
    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline .date:before{
        left: -20rem;
    }
    .timeline .date::after{
        left: -5.9rem;
    }
    
}

@media screen and (max-width: 600px){
    .menutoggler{
        top: 2rem;
        right: 2rem;
    }
    .menutoggler2{
        top: 2rem;
        left: 2rem;
    }
    .menutoggler #navtool{
        opacity: 0;
    }
    .menutoggler2 #routetool{
        opacity: 0;  
    }
    .landingtext h1{
        font-size: 8rem;
    }
    .landingtext h6{
        font-size: 1.4rem;
    }
    .navlink{
        font-size: 3.5rem;
    }
   
    .about .container{
        flex-direction: column;
    }
    .profileimg{
        margin: 0 0 7rem 0;
    }
    .portfolioitem{
        flex-direction: column;
    }
    .portfolioimg{
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfoliodescription{
        margin: 0;
        order: 2;
    }
    .timeline p{
        font-size: 1.6rem;

    }
    .timeline .date::before{
        font-size: 1.4rem;
    }
    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }



}

@media screen and (max-width: 480px){
    .myskills{
        
        grid-template-columns: initial;
    }
    }
/*End media queries*/